:root{
	--shadow: 0 1px 5px rgba(104,104,104,0.8);
	
}

html{
	box-sizing:border-box;
	font-family:roboto,sans-serif;
	color:#333;
}

body{
	background:#ccc;
	margin:100px 270px;

}


h4{
margin: 30px 0 0 25px;
	font-size:20px;
	color:#333333;
}

.price{
	font-size:35px;
	margin-left: 25px;
	margin-bottom: 30px;
}

#icon{
color:#4ED17B;
float:right;
margin-top: -90px;
padding-right: 20px;

}
.boxes{
	display:flex;
	grid-gap:50px;
	width: 300px;
}

.box{
	background:#ddd;
	
	
	box-shadow:var(--shadow);
}

.img-responsive{
	width: 300px;
	height: 250px;
  
}

.sub-main{
	margin-left: 25px;
	color: #666666;
}	
@media screen and (max-width:768px){

	
.boxes{
	display:grid;
	grid-gap:50px;
	width: 300px;
}

body{
	background:#ccc;
	margin:50px 60px;

} 

}

	
	




























































